{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="admin-content">
    <a href="{{ path('admin_list_links', { 'page': 1 }) }}" class="content-item">
        <img src="{{ path('home') }}/images/link.png" />
        <p>Manage Links</p>
    </a>
    <a href="{{ path('admin_list_users', { 'page': 1 }) }}" class="content-item">
        <img src="{{ path('home') }}/images/user.png" />
        <p>Manage Users</p>
    </a>
</div>
{% endblock %}
