{% extends "layout.html.twig" %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
<div class="link-container">
    <h2><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
    <p>{{ link.desc }} <em>(by {{ link.user.username }})</em></p>

    <div class="link-tags">
        {% for tag in link.tags %}
            <a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
                {{ tag.title }}
            </a>
        {% endfor %}
    </div>
    
    <a href="{{ link.url }}" title="" class="watson-button" target="_blank">Open</a>
</div>
{% endblock %}
